.history-container{
    padding: 20px;
    overflow: auto;
    /* display:grid; */
    color: rgba(255,255,255,0.95);
    text-align: center;
    /* align-content: space-around; */
}

.history-title{
    margin-top:20px;
    margin-bottom:20px;
}

.table-container{
    margin-top:20px;
    border-radius: 15px 15px 0 0 ;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.history-search{
    background: #29374C;
    color: #E8E8E8;
    border: 1px solid #9e93a4;
    padding: 8px;
    border-radius:15px;
    margin:10px;
    flex-basis: 200px;
    min-width:100px;
    flex-shrink: 1;
}


.history-search::placeholder {
    color: #9e93a4;
}

.history-search:focus, .history-search:active, .history-search:hover {
    background: #29374C;
    color: #E8E8E8;
    border: 1px solid #9e93a4;
}
