

/* Home */
.barra {
    color: #2d5eb2;
}

 /* Footer */
.vertical-line {
    border-left: 4px solid rgb(99, 99, 99);
    height: auto;
}
.horizontal-line {
    border-bottom: 4px solid rgb(99, 99, 99);
    width: 100%;
    height: 3px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease forwards;
}

/*howitworks*/
.instructions{
    margin-top: 0;
    background-color: antiquewhite;
}
.hero{
    padding-top: 2rem;
    margin-bottom: 3rem;
}
.text{

   margin-top: 11%;

}

.marco{
    place-self: end;
    padding:9px;
   background-color: #f5f5f5;
   width: 250px;
   border: 2px solid #999999;
}

/* pricing */
.cardback{

    height: 450px;
    border-radius: 6px;
    background-color: #F8DAFF;
    container: fluid;

}

.cardinfo{
    place-content: center;
    padding-top: 12%;
    padding-bottom:24%;
}
.card{
    align-self: center;
}
.pagar{
    background-color: transparent;
    border: 2px solid #DAFCFF;
    border-radius: 4px;
    align-self: center;
    transition: all .4s ease-in;
    
    
}
.pagar:hover{
    background-color: #DAFCFF;
    transition: all .4s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.boton {
    background-color: transparent;
    border: 3px solid #3f63a1;
    padding: 8px 34px;
    transition: all .3s ease-in-out;
}
.boton:hover {
    background-color: #3f63a1;
    transition: all .3s ease-in;
    color: white;
}
.hero-navbar {
    background-color: rgb(244, 244, 242);
    height: 90vh;
}
