
/* Home */
.barra {
    color: #2d5eb2;
}
.bg-carne {
    background-color: #F3D7CA;
}
.bg-amarillo {
    background-color: #ece2c4;
}

.bg-verde {
    background-color: #CCD3CA;
}

 /* Footer */
.vertical-line {
    border-left: 4px solid rgb(99, 99, 99);
    height: auto;
}
.horizontal-line {
    border-bottom: 4px solid rgb(99, 99, 99);
    width: 100%;
    height: 3px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.boton {
    background-color: transparent;
    border: 3px solid #3f63a1;
    padding: 8px 34px;
    transition: all .3s ease-in-out;
}
.boton:hover {
    background-color: #3f63a1;
    transition: all .3s ease-in;
    color: white;
}
.hero-navbar {
    background-color: #F5EEE6;
    height: 90vh;
}
.caja-flotante {
    position: absolute;
    top: 18%;
    border-radius: 2px;
    width: 70%;
    height: 450px;
    
}
