/* Globals */



.boton {
    background-color: transparent;
    border: 3px solid #263043;
    padding: 8px 34px;
    background-color: #263043;
    transition: all .3s ease-in-out;
    color: white;
}
.boton:hover {
    background-color: #1d2634;
    transition: all .3s ease-in;
    color: white;
}

.boton-hero {
    background-color: transparent;
    border: 3px solid #1d2634;
    padding: 8px 34px;
    transition: all .3s ease-in-out;
    font-size: 20px;
}
.boton-hero:hover {
    background-color: #1d2634;
    transition: all .3s ease-in;
    color: white;
}

/* Colors */

.barra {
    color: #2d5eb2;
}
.bg-carne {
    background-color: #F3D7CA;
}
.bg-amarillo {
    background-color: #ece2c4;
}
.amarillo {
    color: #e4bc44;
}
.bg-amarillo {
    background-color: #ece2c4;
}

.bg-verde {
    background-color: #CCD3CA;
}
.pink {
 color: #9a65bb;
}

/* Home */

.text-hero {
    font-size: 60px;
}
@media (min-width: 768px) {
    .text-hero {
        font-size: 100px;
    }
}

.p-hero {
    font-size: 25px;
}
@media (min-width: 768px) {
    .p-hero {
        font-size: 40px;
    }
}

.hero{
    padding-top: 2rem;
    margin-bottom: 3rem;
}
.hero-navbar {
    background-color: #F5EEE6;
    height: 100vh;
}
.caja-flotante {
    position: absolute;
    top: 18%;
    border-radius: 2px;
    width: 80%;
    height: 460px;
    padding: 20px;
    
}
.vh-50 {
    height: 50vh;
}
.vh-30 {
    height: 30vh;
}

.infocard {
    width: 380px;
}
@media (min-width: 768px) {
    .infocard {
        width: 490px;
    }
}

.zoom {
    transition: transform .2s;

}
.zoom:hover {
    transform: scale(1.5);
  }
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



 /* Footer */
.vertical-line {
    border-left: 4px solid rgb(99, 99, 99);
    height: auto;
}
.horizontal-line {
    border-bottom: 4px solid rgb(99, 99, 99);
    width: 100%;
    height: 3px;
}



/*howitworks*/
.instructions{
    margin-top: 0;
    background-color: antiquewhite;
    padding-bottom: 2rem;
}

.text{

   margin-top: 11%;

}

.marco{
   place-self: end;
   padding:9px;
   background-color: #f5f5f5;
   width: 250px;
   border: 2px solid #999999;
}

/* pricing */
.cardback{

    height: 450px;
    border: 3px solid #D593FF;
    border-radius: 6px;
    background-color: #F8DAFF;
    container: fluid;

}

.cardinfo{
    place-content: center;
    padding-top: 12%;
    padding-bottom:24%;
}
.card{
    align-self: center;
}
.pagar{
    background-color: transparent;
    border: 2px solid #DAFCFF;
    border-radius: 4px;
    align-self: center;
    transition: all .4s ease-in;
    
    
}
.pagar:hover{
    background-color: #DAFCFF;
    transition: all .4s ease-out;
}




