.instructions{
    margin-top: 0;
    background-color: #263046;
    padding-bottom: 2rem;
    color :white
}

.text{

   margin-top: 11%;

}

.marco{
   place-self: end;
   padding:9px;
   background-color: #263046;
   width: 250px;
   border: 0px solid #999999;

}