
*{
    font-family: "Poppins", sans-serif;
}

.bg-navbar{
    background-color: #263043;
}

.decoration {
    text-decoration: none;
    list-style: none;
    text-decoration-line: none;
}
.text-logo {
    font-size: 30px;
    
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
p {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

