.backimage{

    background-image:url("https://upload.wikimedia.org/wikipedia/commons/5/51/Bow_Lake_beim_Icefields_Parkway.jpg");
    background-size: cover;
    

}
.cardlogin{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
   align-content: center ;
   border-radius: 20px;
   height: 800px;
   padding-top: 20%;
   padding-bottom: 20%;
}

.cardregister{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-align: center;
   align-content: center ;
   border-radius: 10px;
   height: 900px;
   padding-top: 20%;
   padding-bottom: 20%;
}

.backcard{
    background-color: azure;
    border-radius: 0  50px 50px 0;
    opacity: .95;
}

.loginput{
    background: #29374C;
    color: #E8E8E8;
    border: 1px solid #9E93A4;
    padding: 10px;
    border-radius: 15px;
}

.nextbutton{
    background-color: green;
    border-radius: 5px;
    border: 1px solid white;
    color:white;
    width: 7rem;
    height: 3rem;
}

.previousbutton{
    background-color: red;
    border-radius: 5px;
    border: 1px solid white;
    color:white;
    width: 7rem;
    height: 3rem;
}
.links{
    color: blue;
}

.letraregister{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}
.backgroudnregister2{
    height: 800px;
    text-align: center;
}   