.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card-container{
    display: flex;
    align-items: center;
}

.container-border-profile {
    border: 2px solid #c2bac7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    padding: 10px 15px;
    border-radius: 8px;
    background-color: #263046;
    margin-right: 10px;
    
}

.fa-user-pen {
    margin-right: 40px;
    font-size: 30px;
    color: white;
    transition: transform .5s;
}
.fa-user-pen:hover {
    cursor: pointer;
    transform: scale(1.3);
}

hr {
    padding: 0;
    margin: 0;
}
.height-profile {
    height: 100%;
    overflow: auto;
    color: white;
}

.modal-profile {
    background-color: #263046;
}
.Modal {
    border-radius: 3px solid #263046;
}
.fondo-profile {
    background-color: #263046;
}
.color-link {
    color: rgb(177, 203, 252);
}

.color-link:hover {
    color: rgb(156, 190, 255);
}

/* .status-contenedor {

} */

/* .css-dmmspl-MuiFormGroup-root{
    align-items: center;
} */

.profile-fullborder{
    margin-left: auto;
    margin-right: 0;
    color: #cf1259;
    margin-bottom: 10px;

}

@media (min-width: 500px) {
    .status-contenedor{
        display: flex ;
        justify-content: space-around;
        gap: 30px;
        align-items: start;

    }
    .tutoring-cont, .learning-cont{
        display: flex ;
        justify-content: space-around;
        gap: 30px;
        width: 50%;

    }
    
}

.edit-btn{
    background-color: transparent;
    border: 2px solid #cf1259;
    padding: 8px 10px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    color: white;
    font-size: 15px;
    width: 120px;
    
}
.edit-btn:hover {
    background-color: #cf1259;
    transition: all .3s ease-in;
    color: white;
}

input[type="file"]::file-selector-button {
    border-radius: 10px;
    padding: 8px 16px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
    margin: 15px;
    transition: all .3s ease-in-out
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: transparent;
    transition: all .3s ease-in;
    transform: scale(1.1); /* Makes the button 10% larger when hovered */
    color: white;
  }
  
  input[type="file"]::file-selector-button:active {
    background-color: transparent;
    color: white;
  }

.btn-mgn{
    margin-bottom: 10px;
}


@media (max-width: 350px) {
    p {
        font-size: 14px;
    }
}