.testimonial-container{
    background-color: #1d2634;
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    grid-template-areas: "col-1 col-2 col-3";
    padding: 20px 0 100px 0;
    
}

.testimonial-card:hover{
    border: 2px solid #cf1259;
}

.testimonial-col-1{
    grid-area: col-1;
    display: grid;
    gap: 20px;
    align-content: start;
    
}
.testimonial-col-1 > div {
    padding-top: 30px;
    padding-bottom: 30px;
}

.testimonial-col-2{
    grid-area: col-2;
    display: grid;
    gap: 20px;
    align-content: start;
}


.testimonial-col-3{
    grid-area: col-3;
    display: grid;
    gap: 20px;
    align-content: start;

}
.testimonial-col-3 > div {
    padding-top: 30px;
    padding-bottom: 30px;

}

@media screen and (max-width: 1190px){
    /* below 768px cards will be 1 row */

    .testimonial-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "col-1 col-3"
            "col-2 col-2";
    }

    .testimonial-col-2{
        /* display: grid;
        gap: 20px;
        grid-template-columns: 1fr; */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        grid-gap: 10px; 
        
    
    }
    .testimonial-col-3 > div {
        max-width: 100% !important;
    }

    


}
@media screen and (max-width: 992px){
    /* below 1200px cards will be 1 row */

    .testimonial-grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto); 
        grid-template-areas: 
            "col-1"
            "col-2"
            "col-3";
    }
    


}